<?xml version="1.0" ?>

<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="hardware_interface" default="hardware_interface/EffortJointInterface"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find lbr_iiwa_gazebo)/worlds/lbr_iiwa_object.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>


	<rosparam file="$(find lbr_iiwa_description)/conf/lbr_iiwa_control.yaml" command="load"/>

  <!-- Load the URDF with the given hardware interface into the ROS Parameter Server -->
  <param name="robot_description"
	 command="$(find xacro)/xacro '$(find lbr_iiwa_description)/urdf/lbr_iiwa_ee.urdf.xacro' prefix:=$(arg hardware_interface)" />


	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/lbr_iiwa" args="
	  joint_state_controller
		lbr_iiwa_joint_1_effort_controller
		lbr_iiwa_joint_2_effort_controller
		lbr_iiwa_joint_3_effort_controller
		lbr_iiwa_joint_4_effort_controller
		lbr_iiwa_joint_5_effort_controller
		lbr_iiwa_joint_6_effort_controller
		lbr_iiwa_joint_7_effort_controller
		"/>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model lbr_iiwa -param robot_description  
  -J lbr_iiwa_joint_1 0.0
  -J lbr_iiwa_joint_2 1.57
  -J lbr_iiwa_joint_3 -1.57
  -J lbr_iiwa_joint_4 -1.2
  -J lbr_iiwa_joint_5 1.57
  -J lbr_iiwa_joint_6 -1.57
  -J lbr_iiwa_joint_7 0.0 "/>


</launch>


